$headings-font-family:Segoe UI;
$enable-grid-classes:false;
$primary:#2f3c48;
$secondary:#6f7f8c;
$success:#3ec560;
$danger:#cc330d;
$info:#5c8f94;
$warning:#6e9fa5;
$light:#eceeec;
$dark:#1e2b37;
$spacer:1rem;
$border-width:0;
$btn-border-radius:0;
@import "bootstrap";